* {
  padding: 0;
  margin: 0;
  body {
    background: #2a2f38;
    font-family: "Ubuntu", sans-serif;
    header {
      width: 100%;
      background: #3062ba;
      box-shadow: 1px 1px 1px;
      #header-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;

        h1 {
          color: #ffffff;
        }

        nav {
          display: flex;
          flex-direction: row;
          gap: 75px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #ffffff;
              font-size: larger;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    main {
      background: #ebebeb;

      border-radius: 3px;

      max-width: 60%;
      margin: auto;

      .content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        margin: 50px 0 0 0;
        padding: 50px;
        .content-item {
          .content-buttons {
            display: flex;
            flex-direction: row;
            gap: 15px;
            float: right;

            position: relative;
            bottom: 75px;
            .update-button,
            .delete-button {
              text-decoration: none;
              color: #ffffff;
              padding: 5px 10px 5px 10px;
              border-radius: 3px;
            }
            .update-button {
              background: #bd8422;
            }
            .update-button:hover {
              background: #b39666;
            }
            .delete-button {
              background: #ad2d2d;
            }
            .delete-button:hover {
              background: #b35968;
            }
          }
        }
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      width: 100%;
      background: #222422;
      color: #ffffff;

      margin: 50px 0 0 0;
      padding: 40px 0 60px 0;
      a {
        text-decoration: none;
        color: #ffffff;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
